@model BugTracker2.Models.TicketViewModel

@{
    ViewBag.Title = "Tickets";
}

<h2>@ViewBag.Title</h2>
<div style="display: inline-block; padding-left: 3px; padding-right: 3px;">
    @Html.ActionLink("My Submitted Tickets", "Index")
</div>
@if (ViewContext.HttpContext.User.IsInRole("Admin") || ViewContext.HttpContext.User.IsInRole("Developer")
                    || ViewContext.HttpContext.User.IsInRole("Project Manager"))
{
    <div style="display: inline-block; padding-left: 3px; padding-right: 3px;">
        @Html.ActionLink("My Project Tickets", "MyProjectTickets")
    </div>
}
@if (ViewContext.HttpContext.User.IsInRole("Admin"))
{
    <div style="display: inline-block; padding-left: 3px; padding-right: 3px;">
        @Html.ActionLink("All Tickets", "AllTickets")
    </div>
}
<div style="display: inline-block; padding-left: 3px; padding-right: 3px; background-color: lightgray;">
    <b>@Html.ActionLink("Create New Ticket", "CreateTicket")</b>
</div>


@using (Html.BeginForm("CreateTicket", "Tickets", FormMethod.Post,
                            new { enctype = "Multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Tickets</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>


        Choose a project for this ticket:
        <div class="form-group">
            @Html.LabelFor(model => model.ProjectId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProjectId", null, htmlAttributes: new { @class = "form-control" })
                
                @Html.ValidationMessageFor(model => model.ProjectId, "", new { @class = "text-danger" })
            </div>
        </div>

        Assign a ticket type:
        <div class="form-group">
            @Html.LabelFor(model => model.TicketTypeId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TicketTypeId", null, htmlAttributes: new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.TicketTypeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TicketPriorityId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TicketPriorityId", null, htmlAttributes: new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.TicketPriorityId, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
